name: CI
on:
  schedule:
    - cron: "0,30 12-23 * * *"
  workflow_dispatch:
jobs:
  reminderUser:
    environment:
      name: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a multi-line script
        run: |
          bash checkCommit.sh ${{  vars.GIT_USER }} ${{ secrets.WEBHOOK_URL }} ${{ vars.MIN_DAILY_COMMIT_COUNT }}
      - name: Upload to git
        id: uploadGit
        run: |
          LAST_COMMIT_MSG=$(git log -1 --pretty=%B)
          if [[ `git status --porcelain` ]]; then
            git config --global user.name "juancolchete"
            git config --global user.email "juancolchete@gmail.com"
            git add . 
            git commit -m "upload: $LAST_COMMIT_MSG"
            git push
          else
            echo "no changes to push"
          fi
