name: CI
on:
  schedule:
    - cron: "* 12-23 * * *"
  workflow_dispatch:
jobs:
  build:
    environment:
      name: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run a multi-line script
        run: |
          bash checkCommit.sh juancolchete ${{ secrets.WEBHOOK_URL }}
